---
layout: default
---

!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %link{:href => "//fonts.googleapis.com", :rel => "dns-prefetch"}
    %link{:href => "//fonts.googleapis.com/css?family=PT+Sans:400,700", :rel => "stylesheet", :type => "text/css"}
    -# %link{:href => "assets/stylesheets/css/style.css" :rel=>"stylesheet" :type=>"text/css"}
    = stylesheet_link_tag "style"
    %title
      = current_page.data.title
  %body
    %div.container
      
      -# include header
      = partial "partials/header"

      %main
        = yield

      -# include footer
      = partial "partials/footer"
